<h1>1. Base</h1>

<h2>Paragraphs</h2>

<% styleguide_block  '1.1' do %>
<p>Adipisicing aliquid soluta neque est magnam ratione. Quia ut doloribus quasi illo quasi accusamus animi, recusandae unde! Iure debitis obcaecati rem voluptatum dignissimos. Porro necessitatibus dolores debitis laboriosam atque! Architecto.</p>
<p>Ipsum tempora ea mollitia enim ut, quam soluta! Voluptatum repellat minima fugit autem officia. Voluptas tempore excepturi fugiat voluptatibus dolorum. Atque commodi eos sint deleniti minus autem at, quas unde!</p>
<p><em>Adipisicing aliquid soluta neque est magnam ratione. Quia ut doloribus quasi illo quasi accusamus animi, recusandae unde! Iure debitis obcaecati rem voluptatum dignissimos. Porro necessitatibus dolores debitis laboriosam atque! Architecto.</em></p>
<p><em>Ipsum tempora ea mollitia enim ut, quam soluta! Voluptatum repellat minima fugit autem officia. Voluptas tempore excepturi fugiat voluptatibus dolorum. Atque commodi eos sint deleniti minus autem at, quas unde!</em></p>
<p><strong>Adipisicing aliquid soluta neque est magnam ratione. Quia ut doloribus quasi illo quasi accusamus animi, recusandae unde! Iure debitis obcaecati rem voluptatum dignissimos. Porro necessitatibus dolores debitis laboriosam atque! Architecto.</strong></p>
<p><strong>Ipsum tempora ea mollitia enim ut, quam soluta! Voluptatum repellat minima fugit autem officia. Voluptas tempore excepturi fugiat voluptatibus dolorum. Atque commodi eos sint deleniti minus autem at, quas unde!</strong></p>
<p><strong><em>Adipisicing aliquid soluta neque est magnam ratione. Quia ut doloribus quasi illo quasi accusamus animi, recusandae unde! Iure debitis obcaecati rem voluptatum dignissimos. Porro necessitatibus dolores debitis laboriosam atque! Architecto.</em></strong></p>
<p><strong><em>Ipsum tempora ea mollitia enim ut, quam soluta! Voluptatum repellat minima fugit autem officia. Voluptas tempore excepturi fugiat voluptatibus dolorum. Atque commodi eos sint deleniti minus autem at, quas unde!</em></strong></p>
<% end %>

<h2>Small Text</h2>

<% styleguide_block  '1.2' do %>
<small>Sit atque nostrum dolorem libero sequi itaque quis laboriosam at amet architecto ut non veniam. Eaque voluptatibus corporis dicta voluptates ullam. Optio libero delectus tempore possimus quam repellendus quia. Eligendi.</small><br>
<small><em>Sit atque nostrum dolorem libero sequi itaque quis laboriosam at amet architecto ut non veniam. Eaque voluptatibus corporis dicta voluptates ullam. Optio libero delectus tempore possimus quam repellendus quia. Eligendi.</em></small><br>
<small><strong>Sit atque nostrum dolorem libero sequi itaque quis laboriosam at amet architecto ut non veniam. Eaque voluptatibus corporis dicta voluptates ullam. Optio libero delectus tempore possimus quam repellendus quia. Eligendi.</strong></small><br>
<small><strong><em>Sit atque nostrum dolorem libero sequi itaque quis laboriosam at amet architecto ut non veniam. Eaque voluptatibus corporis dicta voluptates ullam. Optio libero delectus tempore possimus quam repellendus quia. Eligendi.</em></strong></small>
<% end %>

<h2>Links</h2>

<% styleguide_block  '1.3' do %>
<a href="javascript:void(0)">default link</a>
<% end %>

<h2>Headers</h2>

<% styleguide_block  '1.4' do %>
<h1>Header 1</h1>
<p>Ipsum aperiam culpa amet corrupti architecto ullam perspiciatis, nesciunt. Nobis velit minima corporis temporibus cupiditate facere! Temporibus fuga sit consectetur eius repellendus quo temporibus magnam repellat! Aperiam omnis in corrupti?</p>

<h2>Header 2</h2>
<p>Ipsum aperiam culpa amet corrupti architecto ullam perspiciatis, nesciunt. Nobis velit minima corporis temporibus cupiditate facere! Temporibus fuga sit consectetur eius repellendus quo temporibus magnam repellat! Aperiam omnis in corrupti?</p>

<h3>Header 3</h3>
<p>Ipsum aperiam culpa amet corrupti architecto ullam perspiciatis, nesciunt. Nobis velit minima corporis temporibus cupiditate facere! Temporibus fuga sit consectetur eius repellendus quo temporibus magnam repellat! Aperiam omnis in corrupti?</p>

<h4>Header 4</h4>
<p>Ipsum aperiam culpa amet corrupti architecto ullam perspiciatis, nesciunt. Nobis velit minima corporis temporibus cupiditate facere! Temporibus fuga sit consectetur eius repellendus quo temporibus magnam repellat! Aperiam omnis in corrupti?</p>

<h5>Header 5</h5>
<p>Ipsum aperiam culpa amet corrupti architecto ullam perspiciatis, nesciunt. Nobis velit minima corporis temporibus cupiditate facere! Temporibus fuga sit consectetur eius repellendus quo temporibus magnam repellat! Aperiam omnis in corrupti?</p>

<h6>Header 6</h6>
<p>Ipsum aperiam culpa amet corrupti architecto ullam perspiciatis, nesciunt. Nobis velit minima corporis temporibus cupiditate facere! Temporibus fuga sit consectetur eius repellendus quo temporibus magnam repellat! Aperiam omnis in corrupti?</p>
<% end %>

<h2>Lists</h2>

<% styleguide_block  '1.5' do %>
<p>Consectetur nemo soluta debitis repellat id atque. Expedita sit amet sit recusandae amet! Iusto veritatis dolor vel culpa illum repellat. Nemo rerum esse quasi corrupti quo impedit molestiae atque voluptas.</p>

<ul>
	<li>item 1</li>
	<li>item 2</li>
	<li>item 3</li>
	<li>item 4
	<ul>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3
		<ul>
			<li>item 1</li>
			<li>item 2</li>
			<li>item 3</li>
			<li>item 4</li>
		</ul>
		</li>
		<li>item 4</li>
	</ul>
	</li>
	<li>item 5</li>
</ul>

<p>Consectetur nemo soluta debitis repellat id atque. Expedita sit amet sit recusandae amet! Iusto veritatis dolor vel culpa illum repellat. Nemo rerum esse quasi corrupti quo impedit molestiae atque voluptas.</p>

<ol>
	<li>item 1</li>
	<li>item 2</li>
	<li>item 3</li>
	<li>item 4
	<ol>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3
		<ol>
			<li>item 1</li>
			<li>item 2</li>
			<li>item 3</li>
			<li>item 4</li>
		</ol>
		</li>
		<li>item 4</li>
	</ol>
	</li>
	<li>item 5</li>
</ol>

<p>Consectetur nemo soluta debitis repellat id atque. Expedita sit amet sit recusandae amet! Iusto veritatis dolor vel culpa illum repellat. Nemo rerum esse quasi corrupti quo impedit molestiae atque voluptas.</p>
<% end %>

<h2>Blockquotes</h2>

<% styleguide_block  '1.6' do %>
<blockquote>
	Sit sequi dolores <strong>harum magni</strong> facilis, esse. <em>Reprehenderit </em>explicabo adipisicing nobis similique exercitationem rem sunt iusto. Non sint eum adipisci aspernatur odio sint voluptates dicta ea commodi numquam dolorum totam?
</blockquote>

<blockquote>
	<p>
		Sit sequi dolores <strong>harum magni</strong> facilis, esse. <em>Reprehenderit </em>explicabo adipisicing nobis similique exercitationem rem sunt iusto. Non sint eum adipisci aspernatur odio sint voluptates dicta ea commodi numquam dolorum totam?
	</p>
</blockquote>
<% end %>


<h2>Horizontal Rules</h2>

<% styleguide_block  '1.7' do %>
<hr>
<% end %>


<h2>Tables</h2>

<% styleguide_block  '1.8' do %>
<table>
	<tr><th>Header 1</th><th>Header 2</th><th>Header 3</th><th>Header 4</th><th>Header 5</th></tr>
	<tr><td>Row:1 Cell:1</td><td>Row:1 Cell:2</td><td>Row:1 Cell:3</td><td>Row:1 Cell:4</td><td>Row:1 Cell:5</td></tr>
	<tr><td>Row:2 Cell:1</td><td>Row:2 Cell:2</td><td>Row:2 Cell:3</td><td>Row:2 Cell:4</td><td>Row:2 Cell:5</td></tr>
	<tr><td>Row:3 Cell:1</td><td>Row:3 Cell:2</td><td>Row:3 Cell:3</td><td>Row:3 Cell:4</td><td>Row:3 Cell:5</td></tr>
	<tr><td>Row:4 Cell:1</td><td>Row:4 Cell:2</td><td>Row:4 Cell:3</td><td>Row:4 Cell:4</td><td>Row:4 Cell:5</td></tr>
	<tr><td>Row:5 Cell:1</td><td>Row:5 Cell:2</td><td>Row:5 Cell:3</td><td>Row:5 Cell:4</td><td>Row:5 Cell:5</td></tr>
	<tr><td>Row:6 Cell:1</td><td>Row:6 Cell:2</td><td>Row:6 Cell:3</td><td>Row:6 Cell:4</td><td>Row:6 Cell:5</td></tr>
</table>
<% end %>


<h2>Definition Lists</h2>

<% styleguide_block  '1.9' do %>
<dl>
	<dt>definition term 1</dt>
	<dd>Dolor possimus nesciunt tempora molestiae ea cum quas. Sint quidem ea quo architecto sit. Quaerat laborum suscipit voluptatum nostrum natus quisquam. Architecto in modi in voluptas consequuntur? Laboriosam quam soluta.</dd>
	<dt>definition term 2</dt>
	<dd>Dolor possimus nesciunt tempora molestiae ea cum quas. Sint quidem ea quo architecto sit. Quaerat laborum suscipit voluptatum nostrum natus quisquam. Architecto in modi in voluptas consequuntur? Laboriosam quam soluta.</dd>
	<dt>definition term 3</dt>
	<dd>Dolor possimus nesciunt tempora molestiae ea cum quas. Sint quidem ea quo architecto sit. Quaerat laborum suscipit voluptatum nostrum natus quisquam. Architecto in modi in voluptas consequuntur? Laboriosam quam soluta.</dd>
</dl>
<% end %>


<h2>Pre and Code</h2>

<% styleguide_block  '1.10' do %>
<h3>Pre Block</h3>
<pre>
	a pre block

	2 new lines
</pre>

<h3>Code Block</h3>
<code>a codeblock</code>
<% end %>



