<h1>7. Buttons</h1>

<h2>Primary</h2>

<% styleguide_block '7.1' do %>
<button class="btn $modifier_class">button.btn</button>
<a class="btn $modifier_class" href="javascript:void(0)">a.btn</a>
<label class="btn $modifier_class">label.btn</label>
<input type="submit" class="btn $modifier_class" value="input.btn" />
<% end %>
