<h1>7. Buttons</h1>

<h2>Primary</h2>

<% styleguide_block '7.1' do %>
<button class="btn $modifier_class">button.btn</button>
<a class="btn $modifier_class" href="javascript:void(0)">a.btn</a>
<label class="btn $modifier_class">label.btn</label>
<input type="submit" class="btn $modifier_class" value="input.btn" />
<% end %>

<h2>Full Width</h2>

<% styleguide_block '7.2' do %>
<button class="btn_-full $modifier_class">button.btn_-full</button><br><br>
<a class="btn_-full $modifier_class" href="javascript:void(0)">a.btn_-full</a><br><br>
<label class="btn_-full $modifier_class">label.btn_-full</label><br><br>
<input type="submit" class="btn_-full $modifier_class" value="input.btn_-full" />
<% end %>
