<h1>3. Colors</h1>

<h2>Base Color</h2>

<% styleguide_block  '3.1', false, false do %>
<div class="cf">
  <div class="color-container">
  	<div class="ratio-object 1modifier_class" >
  		<div class="ratio-object__inner">.class</div>
  	</div>
  </div>
</div>
<% end %>


<h2>Primary Color</h2>

<% styleguide_block  '3.2', false, false do %>
<div class="cf">
	<div class="color-container">
		<div class="ratio-object $modifier_class" >
			<div class="ratio-object__inner">.class</div>
		</div>
	</div>
</div>
<% end %>


