<h1>5. Forms</h1>

<h2>Basic Inputs</h2>

<% styleguide_block  '5.1' do %>
<form action="">
  <div class="field">
  	<label class="field-label" for="form-example-01">label</label>
  	<input id="form-example-01" type="text" value="value text">
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-02">label</label>
  	</div>
  	<input id="form-example-02" type="text" placeholder="placeholder text">
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-03">label</label>
  	</div>
  	<input id="form-example-03" class="display_-block" type="text" placeholder="full width input">
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-04">label</label>
  	</div>
  	<input id="form-example-04" type="text"><span>.textsuffix.com</span>
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-11">label</label>
  	</div>
  	<textarea id="form-example-11" name="" cols="30" rows="10" placeholder="placeholder text"></textarea>
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-12">label</label>
  	</div>
  	<textarea id="form-example-12" class="display_-block" cols="60" rows="10" placeholder="full width textarea"></textarea>
  </div>
</form>
<% end %>

<h2>Selects</h2>

<% styleguide_block '5.2' do %>
	<select id="" name="">
	<optgroup label="opt group 1">
		<option>item 1</option>
		<option>item 2</option>
	</optgroup>
	<optgroup label="opt group 2">
		<option>item 1</option>
		<option>item 2</option>
	</optgroup>
</select>
<% end %>

<h2>Radios &amp; Checkboxes</h2>

<% styleguide_block  '5.3' do %>
<form action="">
  <div class="field">
  	<div>
  	  <input type="radio" id="radio1" name="radios" checked=""> <label class="field-label" for="radio1">label</label>
  	</div>
  	<div>
  	  <input type="radio" id="radio2" name="radios"> <label class="field-label" for="radio2">label</label>
  	</div>
  </div>

  <div class="field">
  	<div>
  		<input type="checkbox" id="checkbox1" checked=""> <label class="field-label" for="checkbox1">label</label>
  	</div>
  	<div>
  		<input type="checkbox" id="checkbox2"> <label class="field-label" for="checkbox2">label</label>
  	</div>
  </div>

	<div class="field">
		<div>
		  <input class="visuallyhidden" type="radio" id="radio3" name="radios" checked=""><label class="field-label" for="radio3"><span class="radio_-icon visuallyhidden-ie8"></span> custom radio</label>
		</div>
		<div>
		  <input class="visuallyhidden" type="radio" id="radio4" name="radios"><label class="field-label" for="radio4"><span class="radio_-icon visuallyhidden-ie8"></span> custom radio</label>
		</div>
	</div>

	<div class="field">
		<div>
			<input class="visuallyhidden" type="checkbox" id="checkbox3" checked=""><label class="field-label" for="checkbox3"><span class="checkbox_-icon visuallyhidden-ie8"></span> custom checkbox</label>
		</div>
		<div>
			<input class="visuallyhidden" type="checkbox" id="checkbox4"><label class="field-label" for="checkbox4"><span class="checkbox_-icon visuallyhidden-ie8"></span> custom checkbox</label>
		</div>
	</div>
</form>
<% end %>



<h2>Inputs With Prefixes &amp; Suffixes</h2>

<% styleguide_block  '5.4' do %>
<form action="">
  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-05">label</label>
  	</div>
  	<label for="form-example-05" class="input-prefix-ex icon icon-link"></label><input id="form-example-05" type="text">
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-06">label</label>
  	</div>
  	<input id="form-example-06" type="text"><span class="input-suffix-ex icon icon-link"></span>
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-07">label</label>
  	</div>
  	<div class="input-prefix-container">
  		<span class="input-prefix-in icon icon-link"></span><input id="form-example-07" type="text">
  	</div>
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-08">label</label>
  	</div>
  	<div class="input-suffix-container">
  		<input id="form-example-08" type="text"><span class="input-suffix-in icon icon-link"></span>
  	</div>
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-09">label</label>
  	</div>
  	<label class="input-prefix-ex icon icon-link" for="form-example-09"></label><div class="input-prefix-container">
  		<span class="input-prefix-in icon icon-link"></span><input id="form-example-09" type="text">
  	</div>
  </div>

  <div class="field">
  	<div>
  		<label class="field-label" for="form-example-10">label</label>
  	</div>
  	<div class="input-suffix-container">
  		<input id="form-example-10" type="text"><span class="input-suffix-in icon icon-link"></span>
  	</div><span class="input-suffix-ex icon icon-link"></span>
  </div>
</form>
<% end %>


<h2>Date Picker</h2>

<p>Pikaday: <a href="https://github.com/dbushell/Pikaday">https://github.com/dbushell/Pikaday</a></p>

<% styleguide_block  '5.5' do %>
<div class="field">
	<input type="text" id="datepicker">
</div>
<% end %>


<h2>Autocomplete</h2>
<p>Typeahead: <a href="http://twitter.github.io/typeahead.js/">twitter.github.io/typeahead.js</a></p>

<h3>Simple</h3>

<% styleguide_block  '5.6.1' do %>
<div class="field">
	<label for="typehead-1">Tags: </label>
	<input class="typeahead-1">
</div>
<% end %>

<h3>Custom Data</h3>

<% styleguide_block  '5.6.2' do %>
<div class="field">
	<label for="typehead-2">Tags: </label>
	<input class="typeahead-2">
</div>
<% end %>


<h2>File Upload</h2>

<p>Dropzone: <a href="http://www.dropzonejs.com/">http://www.dropzonejs.com</a></p>

<% styleguide_block  '5.7' do %>
<form action="/file-upload" class="dropzone">
	<div class="fallback">
		<input name="file" type="file" multiple />
	</div>
</form>
<% end %>


<h2>WYSIWYG</h2>
<p>TinyMCE wysiwyg: <a href="http://www.tinymce.com/">http://www.tinymce.com</a></p>

<% styleguide_block  '5.8' do %>
<textarea id="" name="" rows="15"span="80" style="width: 100%" class="tinymce">
	&lt;p&gt;
	this is some example text that you can edit inside the &lt;strong&gt;tinymce editor&lt;/strong&gt;.
	&lt;/p&gt;
	&lt;p&gt;
	nam nisi elit, cursus in rhoncus sit amet, pulvinar laoreet leo. nam sed lectus quam, ut sagittis tellus.
	&lt;/p&gt;
</textarea>
<% end %>


<link rel="stylesheet" href="css/libs/dropzone/dropzone.css">
<link rel="stylesheet" href="css/libs/pikaday/pikaday.css">

<script src="js/libs/dropzone/dropzone.js"></script>
<script src="js/libs/pikaday/pikaday.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>

<!-- typeahead.js-->
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<script src="js/libs/typeahead/typeahead.min.js"></script>

<script src="js/libs/tiny_mce/tinymce.min.js"></script>
<script src="js/spec.js"></script>
