<h1>4. Grid</h1>

<% styleguide_block  '4' do %>
<div class="gw">
	<div class="g one-third">
		<div>
			one third
		</div>
	</div><!--
	--><div class="g one-third">
		<div>
			one third
		</div>
	</div><!--
	--><div class="g one-third">
		<div>
			one third
		</div>
	</div>
</div>
<% end %>


