<h1>4. Grid</h1>

<% styleguide_block  '4' do %>
<div class="gw">
	<div class="g one-third"><span class="source_grid_content">one third</span></div><!--
	--><div class="g one-third"><span class="source_grid_content">one third</span></div><!--
	--><div class="g one-third"><span class="source_grid_content">one third</span></div>
</div>
<% end %>

