<!DOCTYPE html>
<html>
<head>
  <title>Styleguide</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/color.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header class="kss-header kss-content">
    <div class="kss-wrap">
      Styleguide
    </div>
  </header>

  <div class="kss-wrap kss-cf">

    <div class="kss-gw">
      <div class="kss-g one-quarter">
        <nav class="kss-nav" role="main">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/base">Base</a></li>
						<li><a href="/text-variations">Text Variations</a></li>
						<li><a href="/color">Color</a></li>
						<li><a href="/grid">Grid</a></li>
						<li><a href="/forms">Forms</a></li>
						<li><a href="/nav">Nav</a></li>
						<li><a href="/buttons">Buttons</a></li>
						<li><a href="/alerts">Alerts</a></li>
						<li><a href="/progress-bars">Progress Bars</a></li>
						<li><a href="/tool-tips">Tool Tips</a></li>
          </ul>
        </nav>
      </div><!--

			--><div class="kss-g three-quarters">
        <%= yield %>
      </div>
		</div><!-- .kss-gw -->
  </div><!-- /#wrapper -->

  <script src="/javascripts/kss.js"></script>

</body>
</html>
