<h1>6. Navigation</h1>

<h2>Primary Nav</h2>

<% styleguide_block  '6.1' do %>
<a class="js-menu-toggle menu-toggle" data-target="menu-container_-primary"></a>
<nav class=" menu-container_-primary">
	<ul class="menu_-primary menu">
		<li class="menu__item menu__item_-current"><a href="javascript:void(0);">home</a></li>
		<li class="menu__item">
		<a href="javascript:void(0);">item 1</a>
		<ul class="menu menu__sub">
			<li class="menu__item"><a href="javascript:void(0);">item 1 child 1</a></li>
			<li class="menu__item">
			<a href="javascript:void(0);">item 1 child 2</a>
			<ul class="menu menu__sub">
				<li class="menu__item"><a href="javascript:void(0);">level 2 child 1</a></li>
				<li class="menu__item"><a href="javascript:void(0);">level 2 child 2</a></li>
				<li class="menu__item"><a href="javascript:void(0);">level 2 child 3</a></li>
				<li class="menu__item"><a href="javascript:void(0);">level 2 child 4</a></li>
			</ul>
			</li>
			<li class="menu__item"><a href="javascript:void(0);">item 1 child 3</a></li>
			<li class="menu__item"><a href="javascript:void(0);">item 1 child 4</a></li>
		</ul>
		</li>
		<li class="menu__item"><a href="javascript:void(0);">item 2</a></li>
		<li class="menu__item"><a href="javascript:void(0);">item 3</a></li>
		<li class="menu__item"><a href="javascript:void(0);">item 4</a></li>
	</ul>
</nav>
<% end %>
