<h1>9. Progress Bars</h1>

<% styleguide_block  '9' do %>
<div class="progress">
	<div class="progress__bar" style="width: 60%;"></div>
</div>
<div class="progress">
	<div class="progress__bar progress__bar_-striped" style="width: 20%;"></div>
</div>
<div class="progress progress-anim">
	<div class="progress__bar progress__bar_-striped" style="width: 45%"></div>
</div>
<% end %>
