<h1>2. Text Variations</h1>

<h2>Font Sizes</h2>
<% styleguide_block  '2.1' do %>
<p class="$modifier_class">lorem ipsum</p>
<% end %>

<h2>Case Modifiers</h2>
<% styleguide_block  '2.2' do %>
<p class="$modifier_class">lorem ipsum</p>
<% end %>
