/*----------------------------------------------------------------------------
  @group Global Reset
----------------------------------------------------------------------------*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Tahoma, Arial, sans-serif;
	margin: 0;
}

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }

.kss-cf:before,
.kss-cf:after{
		content:"";
		display:table;
		clear:both;
}

/* @end */

.kss-header {
  padding: 1em 0;

  font-size:16px;
  color:#666;

  background:#f1f1f1;
  border-bottom:1px solid #ddd;
}

.kss-wrap {
  max-width: 1280px;
	margin: 0 auto;
	padding: 0 1.5em;
}

.kss-nav {
	padding-top: 1em;
}

.kss-nav ul{
	margin-left: 0;
	padding-left: 0;
}
.kss-nav li{
  list-style-type:none;
  margin:10px 0;
}
.kss-nav li a{
  text-decoration:none;
  color:#666;
}

/*----------------------------------------------------------------------------
  @group Styleguide Styles
----------------------------------------------------------------------------*/

h1.styleguide {
  margin: 0 0 -5px 0;
  font-size: 24px;
  color: #000; }

.kss-example {
  margin: 15px 0;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .kss-heading {
    margin: 0;
		padding: 1rem 1.5rem;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background: #333;
  }
    .kss-heading em {
      float: right;
      text-transform: none;
      font-style: normal;
      font-weight: normal;
      color: #999; }
  .kss-example .kss-description {
		padding: 1.5rem;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd; }
    .kss-example .kss-description p:first-child {
      margin-top: 0; }
    .kss-example .kss-description p:last-child {
      margin-bottom: 0; }
  .kss-example .kss-element {
    position: relative;
    padding: 20px; }
  .kss-example .kss-element + .kss-element {
    margin-top: -5px;
    padding-top: 15px;
    border-top: 1px solid #eee; }
  .kss-example .kss-element .kss-modifier-name {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    font-size: 11px;
    color: #999;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-top: none; }
  .kss-example .kss-html {
		padding: 1.5rem;
    background: #edf6f8;
    border-top: 1px solid #dde7ea;
    overflow: auto; }
    .kss-example .kss-html .highlight {
      background: none; }
  .kss-example ul.kss-modifiers {
    margin: 0 0 0 10px; }
    .kss-example ul.kss-modifiers li {
      list-style-type: none;
      margin-left: 0; }
    .kss-example ul.kss-modifiers li strong {
      font-family: Monaco, monospace;
      font-size: 12px;
      font-weight: normal;
      color: #222; }
		.kss-code {
			font-size: 12px;
			font-family: Monaco, monospace;
			tab-size: 2;
			margin: 0;
		}



/*------------------------------------*\
	$GRIDS
\*------------------------------------*/
/**
 * Grid wrapper
 */
.kss-gw, .kss-gw_-rev, .kss-gw_-full, .kss-gw_-center, .kss-gw, .kss-gw_-middle {
	margin-left: -32px;
	margin-left: -1.77778rem;
	list-style: none;
margin-bottom: 0; }

/**
 * Very infrequently occuring grid wrappers as children of grid wrappers.
 */
.kss-gw > .kss-gw, .kss-gw_-rev > .kss-gw, .kss-gw_-full > .kss-gw, .kss-gw_-center > .kss-gw, .kss-gw > .kss-gw, .kss-gw_-middle > .kss-gw, .kss-gw > .kss-gw_-rev, .kss-gw_-rev > .kss-gw_-rev, .kss-gw_-full > .kss-gw_-rev, .kss-gw_-center > .kss-gw_-rev, .kss-gw > .kss-gw_-rev, .kss-gw_-middle > .kss-gw_-rev, .kss-gw > .kss-gw_-full, .kss-gw_-rev > .kss-gw_-full, .kss-gw_-full > .kss-gw_-full, .kss-gw_-center > .kss-gw_-full, .kss-gw > .kss-gw_-full, .kss-gw_-middle > .kss-gw_-full, .kss-gw > .kss-gw_-center, .kss-gw_-rev > .kss-gw_-center, .kss-gw_-full > .kss-gw_-center, .kss-gw_-center > .kss-gw_-center, .kss-gw > .kss-gw_-center, .kss-gw_-middle > .kss-gw_-center, .kss-gw > .kss-gw, .kss-gw_-rev > .kss-gw, .kss-gw_-full > .kss-gw, .kss-gw_-center > .kss-gw, .kss-gw > .kss-gw, .kss-gw_-middle > .kss-gw, .kss-gw > .kss-gw_-middle, .kss-gw_-rev > .kss-gw_-middle, .kss-gw_-full > .kss-gw_-middle, .kss-gw_-center > .kss-gw_-middle, .kss-gw > .kss-gw_-middle, .kss-gw_-middle > .kss-gw_-middle {
margin-left: 0; }

/**
 * Grid
 */
.kss-gw__item, .kss-g {
	display: inline-block;
	width: 100%;
	padding-left: 32px;
	padding-left: 1.77778rem;
vertical-align: top; }

/**
 * Reversed grids
 */
.kss-gw_-rev {
	direction: rtl;
text-align: right; }
.kss-gw_-rev > .kss-gw__item, .kss-gw_-rev > .kss-g {
	direction: ltr;
text-align: left; }

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 */
.kss-gw_-full {
margin-left: 0; }
.kss-gw_-full > .kss-gw__item, .kss-gw_-full > .kss-g {
padding-left: 0; }

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes.
 */
.kss-gw_-center {
text-align: center; }
.kss-gw_-center > .kss-gw__item, .kss-gw_-center > .kss-g {
text-align: left; }


/*------------------------------------*\
	$WIDTHS
\*------------------------------------*/
/**
 * Sizes in human readable format. These are used in conjunction with other
 * objects and abstractions found in inuit.css, most commonly the grid system
 * and faux flexbox.
 *
 * We have a mixin to generate our widths and their breakpoint-specific
 * variations.
 */
/**
 * Whole
 */
.one-whole {
width: 100%; }

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
width: 50%; }

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
width: 66.666%; }

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
width: 75%; }

/**
 * Fifths
 */
.one-fifth, .two-tenths {
width: 20%; }

.two-fifths, .four-tenths {
width: 40%; }

.three-fifths, .six-tenths {
width: 60%; }

.four-fifths, .eight-tenths {
width: 80%; }

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
width: 16.666%; }

.five-sixths, .ten-twelfths {
width: 83.333%; }

/**
 * Eighths
 */
.one-eighth {
width: 12.5%; }

.three-eighths {
width: 37.5%; }

.five-eighths {
width: 62.5%; }

.seven-eighths {
width: 87.5%; }

/**
 * Tenths
 */
.one-tenth {
width: 10%; }

.three-tenths {
width: 30%; }

.seven-tenths {
width: 70%; }

.nine-tenths {
width: 90%; }

/**
 * Twelfths
 */
.one-twelfth {
width: 8.333%; }

.five-twelfths {
width: 41.666%; }

.seven-twelfths {
width: 58.333%; }

.eleven-twelfths {
width: 91.666%; }

/**
 * If you have set `$responsive` to ‘true’ in `_vars.scss` then you now have
 * access to these classes. You can define at which breakpoint you’d like an
 * element to be a certain size, e.g.:
 *
 * `<div class="g  one-quarter  lap-one-half  palm-one-whole"> ... </div>`
 *
 * This would create a `div` that, at ‘desktop’ sizes, takes up a quarter of the
 * horizontal space, a half of that space at ‘tablet’ sizes, and goes full width
 * at ‘mobile’ sizes.
 *
 * Demo: jsfiddle.net/inuitcss/WS4Ge
 *
 */
@media only screen and (max-width: 480px) {
	/**
	 * Whole
	 */
.palm-one-whole {
width: 100%; }

/**
 * Halves
 */
.palm-one-half, .palm-two-quarters, .palm-three-sixths, .palm-four-eighths, .palm-five-tenths, .palm-six-twelfths {
width: 50%; }

/**
 * Thirds
 */
.palm-one-third, .palm-two-sixths, .palm-four-twelfths {
width: 33.333%; }

.palm-two-thirds, .palm-four-sixths, .palm-eight-twelfths {
width: 66.666%; }

/**
 * Quarters
 */
.palm-one-quarter, .palm-two-eighths, .palm-three-twelfths {
width: 25%; }

.palm-three-quarters, .palm-six-eighths, .palm-nine-twelfths {
width: 75%; }

/**
 * Fifths
 */
.palm-one-fifth, .palm-two-tenths {
width: 20%; }

.palm-two-fifths, .palm-four-tenths {
width: 40%; }

.palm-three-fifths, .palm-six-tenths {
width: 60%; }

.palm-four-fifths, .palm-eight-tenths {
width: 80%; }

/**
 * Sixths
 */
.palm-one-sixth, .palm-two-twelfths {
width: 16.666%; }

.palm-five-sixths, .palm-ten-twelfths {
width: 83.333%; }

/**
 * Eighths
 */
.palm-one-eighth {
width: 12.5%; }

.palm-three-eighths {
width: 37.5%; }

.palm-five-eighths {
width: 62.5%; }

.palm-seven-eighths {
width: 87.5%; }

/**
 * Tenths
 */
.palm-one-tenth {
width: 10%; }

.palm-three-tenths {
width: 30%; }

.palm-seven-tenths {
width: 70%; }

.palm-nine-tenths {
width: 90%; }

/**
 * Twelfths
 */
.palm-one-twelfth {
width: 8.333%; }

.palm-five-twelfths {
width: 41.666%; }

.palm-seven-twelfths {
width: 58.333%; }

.palm-eleven-twelfths {
		width: 91.666%; } }
		@media only screen and (min-width: 481px) and (max-width: 879px) {
			/**
			 * Whole
			 */
.lap-one-whole {
width: 100%; }

/**
 * Halves
 */
.lap-one-half, .lap-two-quarters, .lap-three-sixths, .lap-four-eighths, .lap-five-tenths, .lap-six-twelfths {
width: 50%; }

/**
 * Thirds
 */
.lap-one-third, .lap-two-sixths, .lap-four-twelfths {
width: 33.333%; }

.lap-two-thirds, .lap-four-sixths, .lap-eight-twelfths {
width: 66.666%; }

/**
 * Quarters
 */
.lap-one-quarter, .lap-two-eighths, .lap-three-twelfths {
width: 25%; }

.lap-three-quarters, .lap-six-eighths, .lap-nine-twelfths {
width: 75%; }

/**
 * Fifths
 */
.lap-one-fifth, .lap-two-tenths {
width: 20%; }

.lap-two-fifths, .lap-four-tenths {
width: 40%; }

.lap-three-fifths, .lap-six-tenths {
width: 60%; }

.lap-four-fifths, .lap-eight-tenths {
width: 80%; }

/**
 * Sixths
 */
.lap-one-sixth, .lap-two-twelfths {
width: 16.666%; }

.lap-five-sixths, .lap-ten-twelfths {
width: 83.333%; }

/**
 * Eighths
 */
.lap-one-eighth {
width: 12.5%; }

.lap-three-eighths {
width: 37.5%; }

.lap-five-eighths {
width: 62.5%; }

.lap-seven-eighths {
width: 87.5%; }

/**
 * Tenths
 */
.lap-one-tenth {
width: 10%; }

.lap-three-tenths {
width: 30%; }

.lap-seven-tenths {
width: 70%; }

.lap-nine-tenths {
width: 90%; }

/**
 * Twelfths
 */
.lap-one-twelfth {
width: 8.333%; }

.lap-five-twelfths {
width: 41.666%; }

.lap-seven-twelfths {
width: 58.333%; }

.lap-eleven-twelfths {
		width: 91.666%; } }
		@media only screen and (min-width: 481px) {
			/**
			 * Whole
			 */
.lap-and-up-one-whole {
width: 100%; }

/**
 * Halves
 */
.lap-and-up-one-half, .lap-and-up-two-quarters, .lap-and-up-three-sixths, .lap-and-up-four-eighths, .lap-and-up-five-tenths, .lap-and-up-six-twelfths {
width: 50%; }

/**
 * Thirds
 */
.lap-and-up-one-third, .lap-and-up-two-sixths, .lap-and-up-four-twelfths {
width: 33.333%; }

.lap-and-up-two-thirds, .lap-and-up-four-sixths, .lap-and-up-eight-twelfths {
width: 66.666%; }

/**
 * Quarters
 */
.lap-and-up-one-quarter, .lap-and-up-two-eighths, .lap-and-up-three-twelfths {
width: 25%; }

.lap-and-up-three-quarters, .lap-and-up-six-eighths, .lap-and-up-nine-twelfths {
width: 75%; }

/**
 * Fifths
 */
.lap-and-up-one-fifth, .lap-and-up-two-tenths {
width: 20%; }

.lap-and-up-two-fifths, .lap-and-up-four-tenths {
width: 40%; }

.lap-and-up-three-fifths, .lap-and-up-six-tenths {
width: 60%; }

.lap-and-up-four-fifths, .lap-and-up-eight-tenths {
width: 80%; }

/**
 * Sixths
 */
.lap-and-up-one-sixth, .lap-and-up-two-twelfths {
width: 16.666%; }

.lap-and-up-five-sixths, .lap-and-up-ten-twelfths {
width: 83.333%; }

/**
 * Eighths
 */
.lap-and-up-one-eighth {
width: 12.5%; }

.lap-and-up-three-eighths {
width: 37.5%; }

.lap-and-up-five-eighths {
width: 62.5%; }

.lap-and-up-seven-eighths {
width: 87.5%; }

/**
 * Tenths
 */
.lap-and-up-one-tenth {
width: 10%; }

.lap-and-up-three-tenths {
width: 30%; }

.lap-and-up-seven-tenths {
width: 70%; }

.lap-and-up-nine-tenths {
width: 90%; }

/**
 * Twelfths
 */
.lap-and-up-one-twelfth {
width: 8.333%; }

.lap-and-up-five-twelfths {
width: 41.666%; }

.lap-and-up-seven-twelfths {
width: 58.333%; }

.lap-and-up-eleven-twelfths {
		width: 91.666%; } }
		@media only screen and (max-width: 879px) {
			/**
			 * Whole
			 */
.portable-one-whole {
width: 100%; }

/**
 * Halves
 */
.portable-one-half, .portable-two-quarters, .portable-three-sixths, .portable-four-eighths, .portable-five-tenths, .portable-six-twelfths {
width: 50%; }

/**
 * Thirds
 */
.portable-one-third, .portable-two-sixths, .portable-four-twelfths {
width: 33.333%; }

.portable-two-thirds, .portable-four-sixths, .portable-eight-twelfths {
width: 66.666%; }

/**
 * Quarters
 */
.portable-one-quarter, .portable-two-eighths, .portable-three-twelfths {
width: 25%; }

.portable-three-quarters, .portable-six-eighths, .portable-nine-twelfths {
width: 75%; }

/**
 * Fifths
 */
.portable-one-fifth, .portable-two-tenths {
width: 20%; }

.portable-two-fifths, .portable-four-tenths {
width: 40%; }

.portable-three-fifths, .portable-six-tenths {
width: 60%; }

.portable-four-fifths, .portable-eight-tenths {
width: 80%; }

/**
 * Sixths
 */
.portable-one-sixth, .portable-two-twelfths {
width: 16.666%; }

.portable-five-sixths, .portable-ten-twelfths {
width: 83.333%; }

/**
 * Eighths
 */
.portable-one-eighth {
width: 12.5%; }

.portable-three-eighths {
width: 37.5%; }

.portable-five-eighths {
width: 62.5%; }

.portable-seven-eighths {
width: 87.5%; }

/**
 * Tenths
 */
.portable-one-tenth {
width: 10%; }

.portable-three-tenths {
width: 30%; }

.portable-seven-tenths {
width: 70%; }

.portable-nine-tenths {
width: 90%; }

/**
 * Twelfths
 */
.portable-one-twelfth {
width: 8.333%; }

.portable-five-twelfths {
width: 41.666%; }

.portable-seven-twelfths {
width: 58.333%; }

.portable-eleven-twelfths {
		width: 91.666%; } }
		@media only screen and (min-width: 880px) {
			/**
			 * Whole
			 */
.desk-one-whole {
width: 100%; }

/**
 * Halves
 */
.desk-one-half, .desk-two-quarters, .desk-three-sixths, .desk-four-eighths, .desk-five-tenths, .desk-six-twelfths {
width: 50%; }

/**
 * Thirds
 */
.desk-one-third, .desk-two-sixths, .desk-four-twelfths {
width: 33.333%; }

.desk-two-thirds, .desk-four-sixths, .desk-eight-twelfths {
width: 66.666%; }

/**
 * Quarters
 */
.desk-one-quarter, .desk-two-eighths, .desk-three-twelfths {
width: 25%; }

.desk-three-quarters, .desk-six-eighths, .desk-nine-twelfths {
width: 75%; }

/**
 * Fifths
 */
.desk-one-fifth, .desk-two-tenths {
width: 20%; }

.desk-two-fifths, .desk-four-tenths {
width: 40%; }

.desk-three-fifths, .desk-six-tenths {
width: 60%; }

.desk-four-fifths, .desk-eight-tenths {
width: 80%; }

/**
 * Sixths
 */
.desk-one-sixth, .desk-two-twelfths {
width: 16.666%; }

.desk-five-sixths, .desk-ten-twelfths {
width: 83.333%; }

/**
 * Eighths
 */
.desk-one-eighth {
width: 12.5%; }

.desk-three-eighths {
width: 37.5%; }

.desk-five-eighths {
width: 62.5%; }

.desk-seven-eighths {
width: 87.5%; }

/**
 * Tenths
 */
.desk-one-tenth {
width: 10%; }

.desk-three-tenths {
width: 30%; }

.desk-seven-tenths {
width: 70%; }

.desk-nine-tenths {
width: 90%; }

/**
 * Twelfths
 */
.desk-one-twelfth {
width: 8.333%; }

.desk-five-twelfths {
width: 41.666%; }

.desk-seven-twelfths {
width: 58.333%; }

.desk-eleven-twelfths {
		width: 91.666%; } }

/* @end */
